.BIG {
    .views {
        margin-left: auto;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .username {
        margin-left: 8px;
    }

    .date {
        margin-left: auto;
    }

    .title {
        margin-top: 8px;
    }

    .img {
        width: 100%;
        max-height: 250px;
        object-fit: contain;
        margin: 16px 0;
    }

    .footer {
        display: flex;
        align-items: center;
        margin-top: 16px;
    }

    .textBlock {
        position: relative;
        max-height: 200px;
        overflow-y: hidden;
    }

    .textBlock::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 48px;
        background: linear-gradient(180deg, transparent, var(--card-bg) 70%);
    }
}

.SMALL {
    width: 230px;
    transform: scale(1);
    transition: transform .2s, opacity .2s;
    cursor: pointer;

    .date {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    &:hover {
        opacity: .8;
        transform: scale(1.01);

        .date {
            display: block;
        }
    }

    .imageWrapper {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .img {
        width: 200px;
        height: 200px;
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        margin: 8px 0;
    }

    .types p {
        width: 115px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .views {
        margin-left: auto;
    }

    .title p {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
