.Page {
    flex-grow: 1;
    padding: 20px 20px 20px 40px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: calc(100vw - var(--sidebar-width));
    transition: width .3s linear;
}

.storybook {
    width: 100%;
}
