.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links,
.dropdown {
    margin-left: auto;
}

.dropdown {
    line-height: 0;

    img {
        border: 1px solid var(--bg-color);
    }
}

.mainLink {
    margin-right: 15px;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 20px;
}
