.Dropdown {
    position: relative;
    display: inline;
}

.btn {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}

.active {
    border-radius: inherit;
    background: var(--inverted-primary-color);
}

.menu {
    display: flex;
    flex-direction: column;
    background: var(--card-bg);
    position: absolute;
    z-index: 10000;
    border-radius: .5rem;
    border: 1px solid var(--primary-color);
    font: var(--font-m);
}

.optionsTopRight {
    bottom: 100%;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}

.optionsBottomLeft {
    right: 0;
}

.last {
    border-radius: 0 0 .5rem .5rem;
}

.first {
    border-radius: .5rem .5rem 0 0;
}
