.CommentCard {
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.header {
    display: inline-flex;
    align-items: center;
}

.text {
    margin-top: 10px;
}

.username {
    margin-left: 10px;
}

.defaultAvatar {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--primary-color);
    color: var(--inverted-primary-color);

    .defaultAvatarText {
        text-transform: uppercase;
    }
}

.loading {
    border: none;
}
